{{template "header" .}}
<div class="splash-container" style="background: none;">
    <div class="splash">
        <h1 class="splash-head" style="color: black;">{{.Subtitle}}</h1>
        <p class="splash-subhead" style="color: black;">
            {{.Message}}
        </p>
    </div>
</div>
{{template "footer"}}