{{define "log-viewer"}}
    <form class="pure-form" onsubmit="return false;">
        <fieldset>
            <legend>Real-time Logs</legend>
            <label>
                <textarea rows=16 id="logs" class="pure-input-1" style="resize: none; color: black; height: auto;" disabled></textarea>
            </label>
        </fieldset>
    </form>
{{end}}