{{template "header" .}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.12.0/css/xterm.css"/>
<script src="https://cdn.jsdelivr.net/npm/xterm@4.12.0/lib/xterm.js"></script>
{{template "intermediate"}}
<div class="content">

    <form class="pure-form" onsubmit="return false;">
        <fieldset>
            <legend>Announcement</legend>
            <label>
                <textarea id="broadcast" class="pure-input-1" style="resize: none; color: black; height: auto;" disabled></textarea>
            </label>
        </fieldset>
    </form>

    {{template "log-viewer"}}

</div>
<script src="/js/logs.js"></script>
<script src="/js/operator.js"></script>
<script src="/js/broadcast.js"></script>
{{template "footer"}}