<html lang="en">
<head>
    <title>{{ .Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="icon" type="image/png" href="../static/icon.png">
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
</head>
<body class="monospace">
<section class="fullscreen">
    <div class="background"></div>
    <div class="center-object center-text">
        <h2 class="bold no-margin">
            {{ .Subtitle }}
        </h2>
        <h5 class="bold no-margin">
            <span class="alizarin-text">{{ .Message }}</span>
        </h5>
    </div>
</section>
</body>
</html>