<html lang="en">
<head>
    <title>{{ .GuildName }} Leaderboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="{{ .GuildIcon }}">
    <link rel="icon" type="image/png" href="{{ .GuildIcon }}">
    <meta property="og:title" content="{{ .GuildName }} Leaderboard"/>
    <meta property="og:description" content="Experience leaderboard of {{ .GuildName }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="/"/>
    <meta property="og:image" content="{{ .GuildIcon }}"/>
    <meta property="og:site_name" content="{{ .GuildName }} Leaderboard"/>
    <meta itemprop="name" content="{{ .GuildName }} Leaderboard">
    <meta itemprop="description" content="Experience leaderboard of {{ .GuildName }}">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .GuildIcon }}"/>
    <meta name="twitter:title" content="{{ .GuildName }} Leaderboard"/>
    <meta name="twitter:description" content="Experience leaderboard of {{ .GuildName }}"/>
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
</head>
<body class="github-font-standard">
<div class="fullscreen">
    <div class="background" style="background-image: url('/static/background.png');"></div>
    <div class="center-object">
        <div class="container">
            <section class="me unset">
                <div class="avatar-container">
                    <img alt="{{ .GuildName }}" draggable="false" src="{{ .GuildIcon }}" class="image-title">
                </div>
                <div class="unset">
                    <h1 class="title monospace">{{ .GuildName }}</h1>
                    <p class="undertitle monospace">Leaderboard</p>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="center box-container primary no-border-radius">
    <p class="no-margin">
        Developed and maintained by <a href="https://random.chars.jp/" target="_blank">RandomChars</a>.
    </p>
</footer>
<script src="https://modesta.alexflipnote.dev/js/modesta.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</body>
</html>