<html lang="en">
<head>
    <title>FreeNitori Lookup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" href="/static/icon.png">
    <meta property="og:title" content="FreeNitori Lookup"/>
    <meta property="og:description" content="Discord user looup."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="/"/>
    <meta property="og:image" content="favicon.png"/>
    <meta property="og:site_name" content="FreeNitori Lookup"/>
    <meta itemprop="name" content="FreeNitori Lookup">
    <meta itemprop="description" content="Discord user lookup.">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="/favicon.png"/>
    <meta name="twitter:title" content="FreeNitori Lookup"/>
    <meta name="twitter:description" content="Discord user lookup."/>
	<link rel="stylesheet" href="/static/css/lookup.css"/>
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
</head>
<body class="github-font-standard">
<div class="fullscreen">
    <div class="background" style="background-image: url('/static/background.png');"></div>
    <div class="center-object">
        <div class="container">
            <section class="me">
                <div class="avatar-container scroll-in from-top">
                    <img alt="Nitori" draggable="false" src="/static/icon.png" class="image-title">
                </div>
                <div class="scroll-in from-front">
                    <h1 class="title monospace">FreeNitori Lookup</h1>
                </div>
            </section>
            <div class="buttons scroll-in from-bottom">
                <label for="snowflake"></label>
                <input class="scroll-in from-bottom" type="number" placeholder="Enter Snowflake"
                       id="snowflake">
                
            </div>
<div id="result"></div>
        </div>
    </div>
</div>
<footer class="center box-container primary no-border-radius">
    <p class="no-margin">
        Developed and maintained by <a href="https://random.chars.jp/" target="_blank">RandomChars</a>.
    </p>
</footer>
<script src="https://modesta.alexflipnote.dev/js/modesta.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/fetch.js"></script>
<script src="/static/js/lookup.js"></script>
</body>
</html>